*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* font-family: 'Sansation', sans-serif; */
    font-family: 'Inter', sans-serif;

}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    position: relative;
    overflow: hidden;
}
#page{
    position: relative;
    height: 120vh;
    width: 100vw;
    background-color: #000;
}
#page>img{
    position: absolute;
    top: 4%;
    width: 1920px;
    height: 1098px;
}
#page>#nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    z-index: 9;
    height: 10%;
    width: 100%;
    background-color: #000;
}
#side-nav{
    display: flex;
    gap: 40px;
    height: 70px;
    width: 465px;
    align-items: center;
    justify-content: space-around;
    background-color: #1C1C1C;
    border-radius: 290px;
    padding: 0px 30px;
}
#side-nav>a{
    text-decoration: none;
    color: #FFFF;
    font-weight: 500;
    font-size: 16px;
}
#side-nav>a:hover{
    color: #E75F00;
}
#join{
    height: 46px;
    width: 106px;
    border-style: none;
    background-color: #E75F00;
    border-radius: 40px;
}
#join>a{
    text-decoration: none;
    color: #FFFF;
    font-size: 16px;
    font-weight: 400;
}
.s-icons{
    display: flex;
    gap: 20px;
}
.s-icons>a>img{
    height: 40px;
    width: 40px;
}
#headerspace{
    position: absolute;
    left: 4.5%; 
    width: 90%;
    height: 35%;
}
#hs-left{
    position: absolute;
    width: 60%;
    height: 100%;
}
#hs-left>#text{
    position: absolute;
    padding: 30px 50px;
    top: 25%;
    left: 5%;
    height: 35%;
    width: 60%;
} 
#hs-left>#text>h1{
    font-size: 60px;
    color: #fff;
} 
#hs-left>#text>.text-hackerspace{
    position: relative;
    color: #E75F00;
    font-size: 90px;
}
#hs-left>#text>.text-hackerspace:hover{
    color: crimson;
}
#hs-left>#text>h2{
    position: absolute;
    color: #FFFFFCA6;
    font-size: 27px;
    letter-spacing: 0.2em;
}
#hs-right{
    position: absolute;
    margin-left: 50%;
    width: 40%;
    height: 100%;
    line-height: 1.6;
}
#hs-right>h3{
    position: absolute;
    top: 45%;  
    left: 5%;
    color: #fff;
    display: flex;
}
#hs-right>h3:hover{
    color: crimson;
    text-transform: uppercase;
    transition: 1s;
}
#hs-right>input{
    position: absolute;
    top: 85%;
    left: 20%;
    padding: 10px 5px;
    border: solid 1px #dadada;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.8em;
    border-radius: 20px;
    background-color: #1C1C1C;
    border-style: none;
    color: #D7D7D7;
}
#hs-right>i{
    position: absolute;
    z-index: 7;
    top: 88.5%;
    left: 21.5%;
    color: #D7D7D7;
    opacity: .5;
}
#page1{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #000;
}
#page1>#circle{
    position: absolute;
    top: 28%;
    right: 15%;
    width: 461px;
    height: 469px;
}
#page1>.html{
    position: absolute;
    width: 90px;
    height: 90px;
    top: 23%;
    right: 24.5%;
}
.html:hover {
    transform: scale(1.5); 
    transition: 1s;
  }
#page1>.css{
    position: absolute;
    width: 90px;
    height: 90px;
    top: 48%;
    right: 13%;
}
.css:hover {
    transform: scale(1.5);
    transition: 1s; 
  }
#page1>.js{
    position: absolute;
    width: 90px;
    height: 90px;
    top: 68%;
    right: 18%;
    border-radius: 15px;
}
.js:hover {
    transform: scale(1.5); 
    transition: 1s;
  }
#page1>.react{
    position: absolute;
    width: 90px;
    height: 90px;
    top: 68%;
    right: 32%;
}
.react:hover {
    transform: scale(1.5);
    transition: 1s; 
  }
#page1>.ts{
    position: absolute;
    width: 90px;
    height: 90px;
    top: 48%;
    right: 36%;
}
.ts:hover{
    transform: scale(1.5);
    transition: 1s;
}
#below-text{
    position: absolute;
    top: 28%;
    left: 5%;
    height: 35%;
    width: 60%;
    color: #FFFFFCA6;
}
#below-text>h1{
    font-size: 90px;
}
#below-text>h1:hover{
    color: crimson;
}
#below-text>.web-dev{
    color: #E75F00;
}
#below-text>h2{
    font-size: 40px;
    line-height: 3;
}
.btn{
    background-color: #E75F00;
    width: 200px;
    height: 63px;
    border-radius: 20px;
    border-style: none;
}
.btn>a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}
#buttons{
    word-spacing: 2em;
}